<div class="center">
    <h1>Opina de nosotros</h1>
    <form onsubmit="enviar_formulario(this); ()=>{return false}">
        <label for="nombre">Nombre</label>
        <br>
        <input type="text" class="nombre" name="nombre" placeholder="Nombre de contacto" id="">
        <br>
        <label for="comentario">Escribe tu opinión</label>
        <br>
        <textarea name="comentario" class="opinion" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>

<script>
    function enviar_formulario(form) {
        var nombre = $(form).find('.nombre').val()
        var opinion = $(form).find('.opinion').val()
        $('.center').html(`
        <div class="center">
            
            <h1>${nombre} has enviado el siguiente comentario:</h1>
            <p>${opinion}</p>
            </div>
        
        `)
    }
</script>