<div class="center">
  <img
    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F38.media.tumblr.com%2F68ed1fe54ee416db4987711594fe6050%2Ftumblr_nlshv1OwiB1s6w6foo1_500.gif&f=1&nofb=1"
    alt=""
    width="100%"
    style="max-width: 800px;"
  />
  <h1>Bienvenido</h1>
  <h2>Esto es un periodico independiente de la gente de el otro lado</h2>
  <h3>Esta hecho a base de esclavizar a programadores</h3>
  <h4>Y asi no tener que trabajar yo</h4>
  <h5>Porque soy un puto vago</h5>
  <h6>que se quiere rascar las pelotas</h6>
  <audio controls>
      <source src="audios/ngu.mp3" type="audio/mpeg">
      <source src="audios/ngu.ogg" type="audio/ogg">
  </audio>
</div>
